body {
}

#fromStation_dropdown, #toStation_dropdown {
    overflow-y: auto;
    max-height: 216px;
}

.headerTickets {
    padding-bottom: 2%;
    padding-top: 2%;
}

div .table > tbody > tr > td {
    border-top: none;
}

button.ticketSubmit {
    padding: 6px;
    line-height: 26px;
    font-size: 17px;
    margin-right: 10px;
}

.highlight {
    color: #ff0000;
}

div .form-control::-webkit-input-placeholder {
    color: #acacac;
    font-size: 16px;
}

div .form-control:-moz-placeholder {
    color: #acacac;
}

div .form-control::-moz-placeholder {
    color: #acacac;
}

div .form-control:-ms-input-placeholder {
    color: #acacac;
}

select#period.form-control {
    padding-left: 1px;
    padding-right: 1px;
}

div .form-control {
    /*height: 39px;*/
    font-size: 18px;
}

div .angucomplete-dropdown {
    width: 100%;
    margin-top: 0;
    font-size: 16px;
    border-radius: 6px;
}

p .input-group-btn {
    width: 0%;
}

span .date {
    /*font-size: 18px;*/
}
/*messages*/
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    text-align: center;
    font-size: 14px;
}

/*trips*/
.btrouteitem {
    border: 1px solid #4fb08d;
    border-radius: 3px;
    padding: 10px 10px;
    margin: 10px 0;
}

.time1 {
    border: 1px solid #1d9bdc;
    border-radius: 3px;
    float: left;
    width: 100px;
    margin-right: 10px;
}

small {
    font-size: 85%;
    font-family: 'Open Sans', sans-serif;
}

.time1-time {
    color: #1d9bdc;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.time1-date {
    color: #1d9bdc;
    text-align: center;
    font-size: 14px;
}

.time2 {
    border: 1px solid #7c828a;
    border-radius: 3px;
    float: left;
    width: 100px;
    margin-right: 10px;
}

.time2-time {
    color: #7c828a;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.time2-date {
    color: #7c828a;
    text-align: center;
    font-size: 14px;
}

.brouteitem-carrier {
    color: #7c828a;
    text-align: right;
    font-size: 14px;
}

.btrouteitem_price {
    color: #008240;
    text-align: right;
    font-size: 16px;
}

    .btrouteitem_price .price1 {
        font-weight: bold;
        font-size: 22px;
    }

    .btrouteitem_price .price2 {
        font-weight: bold;
    }

a.btbuttonselect {
    background-color: #008240;
    border: 1px solid #008240;
    border-radius: 3px;
    color: #fff;
    padding: 3px 7px;
}

.btbuttonschedule {
    border: 1px solid #7c828a;
    border-radius: 3px;
    color: #7c828a;
    padding: 3px 7px;
}

.btroutebuttons {
    text-align: right;
}

.busInfo {
    padding-top: 7px;
}

small span {
    color: #696969;
    margin-right: 60px;
}
/*order*/
.tripInfo {
    border: 1px solid #4fb08d;
    border-radius: 3px;
}

.raceInfo .col-md-4.col-lg-offset-5 {
    font-size: 20px;
    padding: 10px 0 15px 0;
}

.tripInfo span {
    font-size: 20px;
}
/*.tripInfo .col-md-2 {
    font-size: 15px;
}*/

.busfreeplace {
    height: 44px;
    width: 44px;
    color: #00823c;
    text-align: center;
    background-color: #fff;
    border: 2px solid #00823c;
    line-height: 41px;
    margin: 7px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
}

.busselected {
    color: #fff;
    background-color: #3e93c9;
    border: 2px solid #3e93c9;
}

.busnofreeplace {
    height: 44px;
    width: 44px;
    color: #fff;
    text-align: center;
    background-color: #8f8f8f;
    border: 2px solid #8f8f8f;
    line-height: 41px;
    margin: 5px;
    font-weight: bold;
    border-radius: 2px;
    pointer-events: none;
    cursor: default;
}

p#numberOfDoc {
    font-size: 14px;
}

.placeInForm {
    text-align: center;
}

.orderForm label {
    font-weight: 500;
}

.places {
    padding: 25px;
}

    .places table {
        margin: auto;
    }

div.busshema {
    height: 342px;
}

table.busshema td, table.busshema tr td, table.noborder td, table.noborder tr td {
    border-top: 0px none !important;
}

td.busshema1 {
    height: 342px;
    width: 120px;
    background: transparent url('../pictures/bus_1.png') top left no-repeat;
}

td.busshema2 {
    height: 342px;
    min-width: 220px;
    background: transparent url('../pictures/bus_2.png') top right no-repeat;
}

.busshema2inner {
    margin-left: 10px;
    margin-right: 22px;
    margin-top: 3px;
}

div.busshema2inner table tbody tr:nth-child(3) td div button {
    margin-top: 34px;
}

div.details {
    padding: 3px 20px 10px 20px;
    background-color: #f5f5f5;
}

.point {
    border-right: 1px dashed #a5a5a5;
    font-size: 18px;
}

    .point p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
        color: #3a3a3a;
        font-weight: 400;
    }

div.city {
    font-size: 16px;
    color: #505050;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

.point p:nth-child(1) {
    text-align: center;
}

.raceInfo div {
    font-weight: 600;
}

.raceInfo span {
    font-weight: 500;
}

.passanger2 {
    margin-top: 21px;
}

.passanger4 label {
    margin-bottom: 0px;
}

p#placeInForm {
    font-size: 23px;
    margin-bottom: 126px;
}

/*.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}

    .checkbox + label {
        cursor: pointer;
    }

    .checkbox:not(checked) {
        position: absolute;
        opacity: 0;
    }

        .checkbox:not(checked) + label {
            position: relative;
            padding: 0;
        }

            .checkbox:not(checked) + label:before {
                content: '';
                position: absolute;
                top: -4px;
                left: 70px;
                width: 50px;
                height: 26px;
                border-radius: 13px;
                background: #CDD1DA;
                box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
            }

            .checkbox:not(checked) + label:after {
                content: '';
                position: absolute;
                top: -2px;
                left: 71px;
                width: 22px;
                height: 22px;
                border-radius: 10px;
                background: #FFF;
                box-shadow: 0 2px 5px rgba(0,0,0,.3);
                transition: all .2s;
            }

    .checkbox:checked + label:before {
        background: #9FD468;
    }

    .checkbox:checked + label:after {
        left: 95px;
    }*/

.packageWrap {
    position: relative;
    margin: 20px 0 22px -11px;
}

.price {
    font-size: 20px;
    margin-left: 4px;
}

    .price span {
        font-size: 25px;
    }

.orderFormUnit {
    margin-bottom: 20px;
}

.lineBottom {
    border-bottom: 1px solid #4fb08d;
}

.fullPrice {
    font-size: 21px;
}

    .fullPrice span {
        font-size: 26px;
    }

.package {
    padding-bottom: 37px;
}

.packageWrap .number {
    padding-right: 0;
    padding-left: 24px;
}

.goToTripsBtn:hover {
    background-color: #fff;
    padding: 5px;
    color: #008240;
    border: 1px solid #008240;
}

.goToTripsBtn {
    background-color: #008240;
    padding: 5px;
    color: #fff;
    border: 1px solid #008240;
}

.goToTripsBtnWrap {
    margin-right: 70px;
}

.borderLeft {
    border-left: 1px dashed #a5a5a5;
}
/*PageTicket*/


/**/

/*Grid*/
.mainGrid {
    height: -webkit-calc(100vh - 340px);
    height: calc(100vh - 340px);
    min-height: 250px;
}

.mainRacesGrid {
    height: -webkit-calc(100vh - 340px);
    height: calc(100vh - 340px);
    min-height: 250px;
}

.returnedTicketColor {
    color: red;
    background-color: yellow !important;
}

/*orderPanel*/
.orderPanel {
    margin-left: 20px;
    margin-right: 20px;
}

.orderPanelBody {
    padding-left: 20px;
    padding-right: 20px;
}

.orderColumn {
    margin-top: 16px;
    margin-bottom: 0px;
}

.raceHeader {
    font-size: 20px;
    padding-bottom: 10px;
}

.raceArrow {
    vertical-align: middle;
    font-size: 20px;
}

.busBadge {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.ordersFormGroup {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*ticket*/
.ticketToolbox {
   background-color: #DCDCDC;
   border-radius: 0 0 10px 10px;
}

.toolboxButton {
   position: relative;
   margin-bottom: 10px;
}

.ticketPanel {
    height: 42px;
    background-color: #DCDCDC;
    border-radius: 0 0 10px 10px;
}

.ticketContainer {
    margin-top: -21px;
}

.btn-panel {
    height: 32px;
    margin-top: -17px;
}

div.busticketsseatorder > div.row > div {
    margin-bottom: 15px;
}

div.busticketsseatorder h3,
div.busticketsseatorder h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

div.busticketsseatorder row {
    margin-left: 0px !important;
}

div.seat_error {
    color: #f00;
}

.btticket table td,
.btticket table tr td {
    border: none !important;
    color: #000;
    vertical-align: middle;
    padding: 6px 0;
    line-height: 14px;
    font-size: 16px;
    font-family: Impact, "Open Sans", sans-serif;
}

    .btticket table td i,
    .btticket table tr td i {
        font-size: 12px;
        font-family: Arial, "Open Sans", sans-serif;
        font-weight: normal;
    }

.ticket_input {
    border: 1px solid #b6b7b7;
    border-radius: 7px;
    height: 34px;
    line-height: 22px;
    padding: 2px 8px;
    width: 100%;
    overflow: hidden;
    font-family: Arial, "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #fff;
}

.ticket_input_row2 {
    height: 62px !important;
}

.btticket {
    margin: 0px auto;
    width: 100%;
    font-size: 14px;
    padding: 9px 0;
}

    .btticket table td.vtop {
        vertical-align: top;
    }

    .btticket table td.vbottom {
        vertical-align: bottom;
    }

    .btticket table td.gleft {
        text-align: left;
    }

    .btticket table td.gright {
        text-align: right;
    }

.ticket_sum {
    /*background-color: #f4f4f4;*/
    border-radius: 7px;
    margin: 0 -4px 0 -4px;
    padding: 4px 4px;
}

.ticket_info_head {
    font-size: 16px;
    font-family: Impact, "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.return_info_head {
    font-size: 16px;
    font-family: Impact, "Open Sans", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.btticket ol {
    font-family: Arial, "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
    padding-left: 30px;
}

    .btticket ol li {
        margin: 10px 0;
    }

.btticket a {
    color: #000;
    font-style: italic;
    text-decoration: none;
}

.ticket_info_right {
    margin-top: 55px;
    text-align: right;
    font-style: italic;
    margin-bottom: 35px;
}

.ticket_bottom_line {
    background: transparent url("../pictures/bottom_line.png") repeat-x scroll 0% 0%;
    height: 74px;
}

.ticket_bottom,
.btticket table tr.ticket_bottom td {
    font-weight: normal;
    font-size: 12px;
    font-family: Impact, "Open Sans", sans-serif;
}

    .ticket_bottom i {
        font-family: Arial, "Open Sans", sans-serif;
        font-size: 12px !important;
        font-style: italic;
        font-weight: bold !important;
    }

@media print {
    .pageBreak {
        page-break-after: always;
    }

    .ticketPanel {
        display: none;
    }

    .ticketToolbox {
        display: none;
    }

    @page {
        size: auto;
        margin: 0;
    }

    .btticket {
        margin-top: 30px;
    }

    .ticketContainer {
        margin-top: 10px;
    }

}

form select.notChosen {
    color: #999;
    font-size: 16px;
}

form select option {
    color: #080808;
}

    form select option:first-child {
        color: #999;
    }

select option:disabled {
    color: #999;
}

span.errorLgot {
    margin-left: 31%;
    color: #a94442;
}

.login {
    margin-bottom: 5%;
}

@media (max-width: 677px) {
    span.errorLgot {
        margin-left: 0;
        display: block;
        color: #a94442;
    }
}

.statusInactive {
  color: #333;
  background-color: #f5f5f5 !important;
}
.statusPrimary {
  /*color: #fff;*/
  background-color: #337ab7 !important;
}
.statusSuccess {
  color: #3c763d;
  background-color: #dff0d8 !important;
}
.statusInfo {
  color: #31708f;
  background-color: #d9edf7 !important;
}
.statusConfirm {
  color: #8a6d3b;
  background-color: #fcf8e3 !important;
}
.statusDeny {
  color: #a94442;
  background-color: #f2dede !important;
}
.raceStatusWarning {
  /*color: #8a6d3b;*/
  color: #c7801b;
}
.raceStatusError {
  color: #a94442;
}
.raceStatusPrimary {
  color: #31708f;
}
.raceStatusSuccess {
  color: #3c763d;
}


.btroutesort button {
    margin: 0 15px;
    text-decoration: none;
}
.a_sort button {
    border: 1px solid #4fb08d !important;
    margin: 0 4px;
    padding: 6px;
    color: #4fb08d !important;
    background-color: transparent !important;
    display: block;
    width: 100%;
    text-decoration: none;
}
.a_sort button:hover {
    border: 1px solid #4fb08d  !important;
    margin: 0 4px;
    padding: 6px;
    color: #4fb08d !important;
    background-color: transparent !important;
    display: block;
    width: 100%;
    text-decoration: none;
}
.btroutesort {
    margin-bottom: 15px;
    margin-top: 15px;
}
