<div class="col-md-3 col-md-offset-4 login">
    <h2>Увійдіть до системи</h2>
    <form name="loginForm" ng-submit="loginCtrl.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': loginForm.username.$dirty && loginForm.username.$error.required }">
            <label for="username">Користувач:</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="loginCtrl.username" required/>
            <span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block">Введіть ім&prime;я</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': loginForm.password.$dirty && loginForm.password.$error.required }">
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="loginCtrl.password" required/>
            <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">Введіть пароль</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary">Вхід</button>
        </div>
    </form>
</div>
<div class="col-md-3 col-md-offset-4">
    <div ng-class="{'alert': message, 'alert-error': message.type === 'login'}" ng-if="message && message.type === 'login'" ng-bind="message.message"></div>
    <div ng-class="{'alert': message, 'alert-error': message.type === 'NO_CONNECTION'}" ng-if="message && message.type === 'NO_CONNECTION'" ng-bind="message.message"></div>
</div>

