﻿<div class="container ticketContainer">

    <div class="container-fluid">
       <div class="row ticketToolbox">
           <div class="col-md-2 col-md-offset-4 toolboxButton">
               <button class="btn btn-danger btn-block" ng-click="reserveCtrl.backFromTicket()">
                   <span class="glyphicon glyphicon-remove"></span>
                   Закрити
               </button>
           </div>
           <div class="col-md-2 toolboxButton">
               <button class="btn btn-primary btn-block" ng-click="reserveCtrl.print()">
                   <span class="glyphicon glyphicon-print"></span>
                   Надрукувати
               </button>
           </div>
       </div>
    </div>


    <div class="btticket pageBreak" ng-repeat="ticket in reserveCtrl.reserve.bl track by $index">
        <table width="100%" ng-style="reserveCtrl.ticketCopyStyle">
            <tr>
                <td colspan="5" width="20%" class="vtop">
                    <img src="pictures/zubustik.png">
                </td>

                <td colspan="8" width="32%" class="vtop">
                    <div class="return_info_head">
                         Бланк замовлення на<br>
                         бронювання місця
                    <div>
                </td>

                <td width="4%">Замовлення</td>
                <td colspan="5" width="20%">
                    <div class="ticket_input" ng-bind="reserveCtrl.reserve.orderNum">
                    </div>
                </td>
                <td width="4%"></td>
                <td rowspan="3" colspan="4" width="16%" class="vtop gright">
                    <img src="pictures/pr-code.png">
                </td>
                <td rowspan="11" width="2%">
            </tr>


            <tr>
                <td colspan="20">
                    <br>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="20%">
                    Прізвище пасажира<br>
                    <i>Passenger surname</i>
                </td>
                <td colspan="14" width="56%">
                    <div class="ticket_input" ng-bind="ticket.lastName">

                    </div>
                </td>
                <td width="4%"></td>
            </tr>


            <tr>
                <td colspan="5" width="20%">
                    Ім’я пасажира<br>
                    <i>Passenger name</i>
                </td>
                <td colspan="14" width="56%">
                    <div class="ticket_input" ng-bind="ticket.name">
                    </div>
                </td>
                <td width="4%"></td>
                <td colspan="4" width="16%">
                    Дата бронювання<br>
                    <i>Date of sale</i>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="20%">
                    Маршрут<br>
                    <i>Route</i>
                </td>
                <td colspan="14" width="56%">
                    <div class="ticket_input" ng-bind="reserveCtrl.reserve.raceName">
                    </div>
                </td>
                <td width="4%"></td>
                <td colspan="4" width="16%">
                    <div class="ticket_input" ng-bind="reserveCtrl.reserve.dateSold +' / '+ reserveCtrl.reserve.timeSold">
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="16%">
                    Місце<br>
                    <i>Seat</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="ticket.place">
                    </div>
                </td>
                <td colspan="2" width="8%"></td>
                <td colspan="4" width="16%">
                    Перевізник<br>
                    <i>Carrier</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="reserveCtrl.reserve.carrierName">
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="16%">
                    Відправлення<br>
                    <i>Departure</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="reserveCtrl.reserve.stDepName">
                    </div>
                </td>
                <td colspan="2" width="8%"></td>
                <td colspan="4" width="16%">
                    Прибуття<br>
                    <i>Arrival</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="reserveCtrl.reserve.stArrName">
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="16%">
                    Дата / Час<br>
                    <i>Date / Time</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="reserveCtrl.reserve.dateDep +' / '+ reserveCtrl.reserve.timeDep">
                    </div>
                </td>
                <td colspan="2" width="8%"></td>
                <td colspan="4" width="16%">
                    Дата / Час<br>
                    <i>Date / Time</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="reserveCtrl.reserve.dateArr +' / '+ reserveCtrl.reserve.timeArr">
                    </div>
                </td>
            </tr>


            <tr>
                <td width="20%" colspan=5>
                    Вартість (грн.)<br>
                    <i>Fare (UAH)</i>
                </td>
                <td width="16%" colspan=4>
                    Проїзд<br>
                    <i>Passage</i>
                </td>
                <td width="4%">
                    &nbsp;
                </td>
                <td width="16%" colspan=4>
                    Багаж<br>
                    <i>Luggage</i>
                </td>
                <td width="12%" colspan=3>
                    &nbsp;
                </td>
                <td width="28%" colspan=7>
                    Всього<br>
                    <i>Total</i>
                </td>

            </tr>

            <tr>
                <td width="20%" colspan=5>
                    &nbsp;
                </td>
                <td width="16%" colspan=4>
                    <div class="ticket_input" ng-bind="ticket.passagePrice">
                    </div>
                </td>
                <td width="4%">
                    &nbsp;
                </td>
                <td width="16%" colspan=4>
                    <div class="ticket_input" ng-bind="ticket.luggagePrice">
                    </div>
                </td>
                <td width="12%" colspan=3>
                    &nbsp;
                </td>
                <td width="28%" colspan=7>
                    <div class="ticket_input" ng-bind="ticket.price">
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="24" width="96%">
                    <div class="ticket_info_head">При несвоэчасній сплаті вартості квитка замовлення буде автоматично скасовано</div>
                </td>
            </tr>


            <tr>
                <td colspan="26" width="100%" class="vtop ticket_bottom_line"></td>
            </tr>

            <tr class="ticket_bottom">
                <td colspan="6" width="22%" class="vtop">
                    <strong>Служба підтримки</strong><br>
                    <i>Support service</i>
                </td>
                <td colspan="5" width="20%" class="vtop">
                    <i>+38-099-440-66-22</i><br>
                    <i>+38-097-440-66-22</i>
                </td>
                <td colspan="5" width="20%" class="vtop">
                    <i>+38-093-440-66-22</i><br>
                    <i>+38-044-222-82-00</i>
                </td>
                <td colspan="5" width="20%" class="vtop">
                    <strong>Адреса сайту</strong><br>
                    <i>Website</i>
                </td>
                <td colspan="5" width="18%" class="vbottom gright">
                    <a href="http://zubustik.com.ua" target="_blank"><i>zubustik.com.ua</i></a>
                </td>

            </tr>


        </table>
        <!-- <p class="pageBreak"></p> -->
    </div>

</div>
