<script type="text/ng-template" id="myModalContent.html">

    <h3>Інформація про маршрут рейсу {{stations.raceNum}}  {{stations.raceName}}</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Станція</th>
                <th>Відстань</th>
                <th>Прибуття</th>
                <th>Відправлення</th>
                <th>Ціна</th>
                <th>Примітка</th>
            </tr>
        </thead>
        <tbody ng-repeat="route in stations.route">
            <tr>
                <td>{{route.stArrName}}</td>
                <td>{{route.distance}}</td>
                <td>{{route.timeArr}}</td>
                <td>{{route.timeDep}}</td>
                <td>{{route.price}}</td>
                <td>{{route.descript}}</td>
            </tr>
        </tbody>
    </table>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="exit()">Закрити</button>

    </div>

</script>
