<div class="row btrouteitem">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="time1">
                <div class="time1-time">{{route.viewDtDep.viewTime}}</div>
                <div class="time1-date">{{route.viewDtDep.viewData}}</div>

            </div>
            {{route.stDepName}}<br />{{route.stDepAddr}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="time2">
                <div class="time2-time">{{route.viewDtArr.viewTime}}</div>
                <div class="time2-date">{{route.viewDtArr.viewData}}</div>

            </div>
            {{route.stArrName}}<br />{{route.stArrAddr}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            {{route.wayTimeH}}&nbsp;год {{route.wayTimeM}}&nbsp;хв<br/>
            Вільних місць: {{route.places}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 btrouteitem_price">
            <span class="price1">{{route.price}} грн</span>
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <small>Перевізник:&nbsp;{{route.carrier}}</small>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 btroutebuttons">
            <!--
            <a rel="" href="" class="boxed btbuttonschedule" ng-click="tickets.showRouteOnStations(route.tripId)">Маршрут</a>
            <a href="#/order" class="btbuttonselect" ng-click="tickets.passTripId(route.tripId)">Купити</a>
            -->
            <button class="btn btn-xs btn-default" ng-click="tickets.showRouteOnStations(route.tripId)">Маршрут</button>
            <button class="btn btn-xs btn-success" ng-show="tickets.allowsale" ng-click="tickets.passTripId(route.tripId)">Купити</button>
        </div>
    </div>
</div>