<div class="row">
    <div class="col-md-3 headerTickets">
        <img alt="ZuBUStik" src="pictures/ZuBUStik_logo.png" />
    </div>
    <div class="col-md-6 headerTickets"><h3 class="text-success text-center">Оберіть маршрут поїздки</h3></div>
    <div class="col-md-3 headerTickets"></div>
</div>
<form name="routeForm" ng-submit="tickets.getRoutes()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-2">


                <div class="form-group">
                    <label for="fromStation">Від</label>
                    <div>
                        <angucomplete-alt id="fromStation"
                                          name="fromStation"
                                          placeholder="Звідки"
                                          maxlength="50"
                                          pause="100"
                                          input-name="fromStation"
                                          selected-object="tickets.from"
                                          local-data="tickets.cities"
                                          search-fields="name"
                                          title-field="name"
                                          minlength="1"
                                          field-required="true"
                                          text-searching="Пошук..."
                                          text-no-results="Нічого не знайдено"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"/>
                    </div>
                </div>


            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <label for="toStation">До</label>
                    <div>
                        <angucomplete-alt id="toStation"
                                          placeholder="Куди"
                                          pause="100"
                                          input-name="toStation"
                                          selected-object="tickets.to"
                                          local-data="tickets.cities"
                                          search-fields="name"
                                          title-field="name"
                                          minlength="1"
                                          field-required="true"
                                          text-searching="Пошук..."
                                          text-no-results="Нічого не знайдено"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"/>
                    </div>
                </div>

            </div>

            <div class="col-md-2">

                <label for="date">Коли</label>
                <p class="input-group">
                    <input type="text" id="date" class="form-control" placeholder="Дата"
                           uib-datepicker-popup="dd.MM.yy" ng-model="tickets.date" is-open="tickets.popup.opened" datepicker-options="dateOptions"
                           ng-required="true" alt-input-formats="altInputFormats" close-text="Закрити" current-text="Сьогодні" clear-text="Очистити"/>
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default date" ng-click="tickets.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </p>

            </div>
            <div class="col-md-1">
                <label>Період</label>
                <div class="form-group">
                    <select class="form-control" id="period" ng-model="tickets.period">
                        <option value="0">Точно</option>
                        <option value="1">+/-1 день</option>
                        <option value="2">+/-2 дні</option>
                        <option value="3">+/-3 дні </option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <label></label>
                <div class="input-group">
                    <button type="submit" ng-disabled="!routeForm.$valid" class="btn btn-success ticketSubmit"><span class="glyphicon glyphicon-search"></span>&nbsp;Пошук</button>
                    <img src="pictures/loadingTrips.gif" alt="Чекайте..." class="img-circle" ng-show="tickets.loading">
                </div>
            </div>




        </div>
    </div>
</form>

<div class="container" ng-if="tickets.routeOnStation" route-on-station>

</div>

<div class="container btroutesort">
   <div class="row" ng-if="tickets.isTickets">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 a_sort">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-default btn-block" id="sort-date" ng-click="tickets.sortBy('dtDepSec');">
                <span class="glyphicon glyphicon-arrow-up" ng-show="(tickets.sortProperty==='dtDepSec')&&(tickets.sortReverse)" ></span>
                <span class="glyphicon glyphicon-arrow-down" ng-show="(tickets.sortProperty==='dtDepSec')&&(!tickets.sortReverse)"></span>
                &nbsp;Відправлення</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-default btn-block" id="sort-arrival" ng-click="tickets.sortBy('dtArrSec');">
                <span class="glyphicon glyphicon-arrow-up" ng-show="(tickets.sortProperty==='dtArrSec')&&(tickets.sortReverse)" ></span>
                <span class="glyphicon glyphicon-arrow-down" ng-show="(tickets.sortProperty==='dtArrSec')&&(!tickets.sortReverse)"></span>
                &nbsp;Прибуття</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-default btn-block" id="sort-time" ng-click="tickets.sortBy('wayTimeSec');">
                <span class="glyphicon glyphicon-arrow-up" ng-show="(tickets.sortProperty==='wayTimeSec')&&(tickets.sortReverse)" ></span>
                <span class="glyphicon glyphicon-arrow-down" ng-show="(tickets.sortProperty==='wayTimeSec')&&(!tickets.sortReverse)"></span>
                &nbsp;Час в дорозі</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-default btn-block" id="sort-price" ng-click="tickets.sortBy('price');">
                <span class="glyphicon glyphicon-arrow-up" ng-show="(tickets.sortProperty==='price')&&(tickets.sortReverse)" ></span>
                <span class="glyphicon glyphicon-arrow-down" ng-show="(tickets.sortProperty==='price')&&(!tickets.sortReverse)"></span>
                &nbsp;Ціна</button>
        </div>
     </div>
   </div>
</div>

<div class="container" route ng-if="tickets.isTickets" ng-repeat="route in tickets.routes | orderBy:tickets.sortProperty:tickets.sortReverse ">

</div>

<div class="col-md-3 col-md-offset-4">
    <div ng-class="{'alert': message, 'alert-error': message.type === 'cities'}" ng-if="message && message.type === 'cities'" ng-bind="message.message"></div>
    <div ng-class="{'alert': message, 'alert-error': message.type === 'route'}" ng-if="message && message.type === 'route'" ng-bind="message.message"></div>
    <div ng-class="{'alert': message, 'alert-error': message.type === 'NO_INFO_TRIP'}" ng-if="message && message.type === 'NO_INFO_TRIP'" ng-bind="message.message"></div>
</div>
