﻿<!DOCTYPE html>
<html ng-app="Autostation">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/ui-grid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

    <link href="css/angucomplete-alt.css" rel="stylesheet" />

    <script src="js/vendors/angular.min.js"></script>
    <script src="js/vendors/angular-route.js"></script>
    <script src="js/vendors/angular-touch.min.js"></script>
    <script src="js/vendors/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="js/vendors/mask.js"></script>
    <script src="js/vendors/jquery.js"></script>
    <script src="js/vendors/bootstrap.min.js"></script>
    <script src="js/vendors/angular-locale_uk-ua.js"></script>
    <script src="js/vendors/date.js"></script>
    <script src="js/vendors/angular-cookies.min.js"></script>
    <script src="js/vendors/angucomplete-alt.js"></script>
    <script src="js/vendors/ui-grid.min.js"></script>
    <script src="js/vendors/ui-grid.ru.js"></script>
    <script src="js/vendors/ui-grid.ua.js"></script>
    <script src="js/vendors/ngStorage.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/directives/route.js"></script>
    <script src="js/directives/routeOnStation.js"></script>
    <script src="js/tickets/ticketsController.js"></script>

    <script src="js/tickets/ticketService.js"></script>
    <script src="js/account/authService.js"></script>
    <script src="js/account/loginController.js"></script>
    <script src="js/common/encoders.js"></script>
    <script src="js/common/mainurl.js"></script>
    <script src="js/common/constans.js"></script>
    <script src="js/common/messageService.js"></script>
    <script src="js/common/stateService.js"></script>
    <script src="js/order/orderController.js"></script>
    <script src="js/order/orderService.js"></script>
    <script src="js/orders/ordersController.js"></script>
    <script src="js/orders/ordersService.js"></script>
    <script src="js/races/racesController.js"></script>
    <script src="js/races/racesService.js"></script>
    <script src="js/sales/salesController.js"></script>
    <script src="js/sales/salesService.js"></script>
    <script src="js/report/reportController.js"></script>
    <script src="js/report/reportService.js"></script>
    <script src="js/directives/orderForm.js"></script>
    <script src="js/directives/orderHandle.js"></script>
    <script src="js/directives/raceHandle.js"></script>
    <script src="js/directives/saleHandle.js"></script>
    <script src="js/ticket/ticketController.js"></script>
    <script src="js/refund/refundController.js"></script>
    <script src="js/reserve/reserveController.js"></script>
    <script src="js/directives/uppercaseInput.js"></script>
    <script src="js/directives/phoneInput.js"></script>
</head>
<body>
    <div>
        <div class="navbar navbar-dark navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavBarCollapse" ng-show="userGlobal.login">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">ZuBUStik</div>
                </div>

                <div class="navbar-collapse collapse" id="NavBarCollapse">
                    <ul class="nav navbar-nav">
                        <!--<li ng-controller="GlobalController" ng-show="(userGlobal.login)&&(userGlobal.allowsale)"><a href="#/tickets" ng-click="removeTripData()">Продаж</a></li>-->
                        <li ng-controller="GlobalController" ng-show="userGlobal.login"><a href="#/tickets" ng-click="removeTripData()">ФОРМА ПРОДАЖУ</a></li>
                        <li ng-show="(userGlobal.login)&&(userGlobal.allowsale==1)"><a href="#/orders">ПРОДАЖІ АГЕНТА</a></li>
                        <li ng-show="(userGlobal.login)&&(userGlobal.carriers!=undefined)&&(userGlobal.carriers!='')"><a href="#/races">РЕЙСИ</a></li>
                        <li ng-show="(userGlobal.login)&&(userGlobal.carriers!=undefined)&&(userGlobal.carriers!='')"><a href="#/sales">ПРОДАЖІ ПЕРЕВІЗНИКА</a></li>
                        <li ng-show="userGlobal.login"><a href="#/report">ЗВІТИ</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="userGlobal.login">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" id="userDropdownMenu">
                                {{userGlobal.agent}}&nbsp;({{userGlobal.cashier}})
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="userDropdownMenu">
                                <li><a role="menuitem" href="#/login" ng-click="removeCertificates()">ВИЙТИ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <div ng-class="{'alert': message, 'alert-error': message.type === 'E_USERBLOCKED'}" ng-if="message && message.type === 'E_USERBLOCKED'" ng-bind="message.message"></div>
            </div>
        </div>
    </div>
    <div ng-view=""></div>

</body>
</html>
