﻿<form name="orderForm" ng-submit="orderCtrl.makeOrder()">
    <div class="row col-md-8 col-md-offset-3 orderFormUnit" ng-repeat="order in orderCtrl.ordersArray track by $index">
        <div class="col-md-3 lineBottom">
            <span>Пасажир #{{$index + 1}}</span>
            <div class="form-group">
                <input type="text" required ng-model="order.lastName" class="form-control" id="lastName" placeholder="Прізвище">
            </div>
            <div class="form-group">
                <input type="text" ng-model="order.phone" ui-mask="+(38) 999-9999999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" id="phone" placeholder="Телефон">
            </div>
            <div class="form-group">
                <p id="numberOfDoc">№ документа для права отримання льготи</p>
            </div>
        </div>
        <div class="col-md-3 passanger2 lineBottom">
            <div class="form-group">
                <input type="text" required ng-model="order.name" class="form-control" id="Name" placeholder="Ім'я">
            </div>
            <div class="form-group">
                <input type="email" ng-model="order.email" class="form-control" id="email" placeholder="E-Mail адреса">
            </div>
            <div class="form-group">
                <input type="text" required ng-if="order.lgPrice.price != '' && order.lgPrice != null" ng-model="order.passport" ui-mask="AA 999999" ui-mask-placeholder ui-options="orderCtrl.optionsPassport" ui-mask-placeholder-char="__" class="form-control" id="passport" placeholder="Номер пасспорта">
                <input type="text" ng-if="order.lgPrice == null || order.lgPrice.price == ''" ng-model="order.passport" ui-mask="AA 999999" ui-mask-placeholder ui-options="orderCtrl.optionsPassport" ui-mask-placeholder-char="__" class="form-control" id="passport" placeholder="Номер пасспорта">

            </div>
        </div>
        <div class="col-md-1 lineBottom">
            <div class="form-group placeInForm">
                <label for="placeInForm">Місце</label>
                <p id="placeInForm" ng-model="order.place">{{order.place}}</p>
            </div>
        </div>
        <div class="col-md-2 passanger4 lineBottom">
            <div class="form-group">
                <label for="lgots">Скидка/Льгота</label>
                <select name="lgots" id="lgots{{$index}}" class="form-control" ng-model="order.lgPrice" ng-init="order.lgPrice = {price:'', code:'' }"
                        ng-options="{price:lgot.price, code: lgot.code} as lgot.name for lgot in orderCtrl.trip.lgotes" ng-change="orderCtrl.changePrice(order.place,order.lgPrice,order.baggage)">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group package">
                <div class="packageWrap">
                    <div class="col-md-6">
                        <label for="package{{$index}}">Багаж:</label>
                    </div>
                    <div class="col-md-6 number">

                        <select name="lgots" id="package{{$index}}" class="form-control" ng-model="order.baggage"
                                ng-init="order.baggage = 0" ng-options="value as value for value in orderCtrl.packageArray" ng-change="orderCtrl.changePrice(order.place,order.lgPrice,order.baggage)">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group price">
                <div>
                    Ціна: <span>{{order.price}}</span> грн
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-8 col-md-offset-3">
        <div class="col-md-8 fullPrice">
            Загальна сума замовлення:

            <span>{{orderCtrl.fullPrice}}</span> грн
        </div>
        <div class="col-md-4">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" ng-disabled="!orderForm.$valid">Оформити</button>
            </div>
        </div>
    </div>
</form>







<!-- Modal -->
<div class="modal fade" id="rsform_4_page_0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-image">
            <div class="banner-text">
                <!-- Сюда можно впихнуть никому ненужный текст-->
            </div>
        </div>
        <div class="container-fluid">
            <div class="modal-content connect-form">
                <div class="row">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2>{global:formtitle}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="modal-body">
                        {error}
                        <!-- Do not remove this ID, it is used to identify the page so that the pagination script can work correctly -->
                        <fieldset class="formHorizontal formContainer" id="rsform_4_page_0">
                            <!--div class="rsform-block rsform-block-addresume">
                            <div class="formControls">
                                <div class="formBody">{addresume:body}<span class="formValidation">{addresume:validation}</span></div>
                                <p class="formDescription">{addresume:description}</p>
                            </div>
                            </div-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        
                                        <div class="formBody">{chosevacancy:body}<span class="formValidation">{chosevacancy:validation}</span></div>
                                        <p class="formDescription">{chosevacancy:description}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="formDescription fileLabel">{addresumedoc:description}</p>
                                        <div class="formBody">{addresumedoc:body}<span class="formValidation">{addresumedoc:validation}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="formBody comonLabel">{letsbegin:body}<span class="formValidation">{letsbegin:validation}</span></div>
                                        <p class="formDescription">{letsbegin:description}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                КОНТАКТНЫЕ ДАННЫЕ
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <!-- FIRST ANKET PART -->

                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{fio:body}<span class="formValidation">{fio:validation}</span></div>
                                                        <p class="formDescription">{fio:description}</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{birthday:body}<span class="formValidation">{birthday:validation}</span></div>
                                                        <p class="formDescription">{birthday:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{citizenship:body}<span class="formValidation">{citizenship:validation}</span></div>
                                                        <p class="formDescription">{citizenship:description}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 placeLabel">
                                                    <div class="form-group">
                                                        <div class="formBody">{place:body}<span class="formValidation">{place:validation}</span></div>
                                                        <p class="formDescription">{place:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{obl:body}<span class="formValidation">{obl:validation}</span></div>
                                                        <p class="formDescription">{obl:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{city:body}<span class="formValidation">{city:validation}</span></div>
                                                        <p class="formDescription">{city:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{region:body}<span class="formValidation">{region:validation}</span></div>
                                                        <p class="formDescription">{region:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">

                                                    <div class="form-group">
                                                        <div class="formBody">{phone1:body}<span class="formValidation">{phone1:validation}</span></div>
                                                        <p class="formDescription">{phone1:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{phone2:body}<span class="formValidation">{phone2:validation}</span></div>
                                                        <p class="formDescription">{phone2:description}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{skype:body}<span class="formValidation">{skype:validation}</span></div>
                                                        <p class="formDescription">{skype:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{anketemal:body}<span class="formValidation">{anketemal:validation}</span></div>
                                                        <p class="formDescription">{anketemal:description}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{site:body}<span class="formValidation">{site:validation}</span></div>
                                                        <p class="formDescription">{site:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="form-group">
                                                        <div class="formBody">{howknow:body}<span class="formValidation">{howknow:validation}</span></div>
                                                        <p class="formDescription">{howknow:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- FIRST ANKET PART -->
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                ОБРАЗОВАНИЕ
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <!-- SECOND ANKET PART -->

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="formControlLabel secodInfo">{edu:caption}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="for-group">
                                                            <div class="formBody">{edu:body}<span class="formValidation">{edu:validation}</span></div>
                                                            <p class="formDescription">{edu:description}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="formControlLabel secodInfo">{eduform:caption}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="for-group">
                                                            <div class="formBody">{eduform:body}<span class="formValidation">{eduform:validation}</span></div>
                                                            <p class="formDescription">{eduform:description}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="for-group">
                                                        <div class="formBody">{school:body}<span class="formValidation">{school:validation}</span></div>
                                                        <p class="formDescription">{school:description}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="for-group">
                                                        <div class="formBody">{special:body}<span class="formValidation">{special:validation}</span></div>
                                                        <p class="formDescription">{special:description}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="for-group">
                                                        <div class="formBody">{languages:body}<span class="formValidation">{languages:validation}</span></div>
                                                        <p class="formDescription">{languages:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!---div class="rsform-block rsform-block-exp">
                                            <div class="formControlLabel">{exp:caption}</div>
                                            <div class="formControls">
                                                <div class="formBody">{exp:body}<span class="formValidation">{exp:validation}</span></div>
                                                <p class="formDescription">{exp:description}</p>
                                            </div>
                                            </div-->
                                            <div class="row">
                                                <div class="col-md-11 col-md-offset-1">
                                                    <div class="for-group">
                                                        <div class="formBody">{dopinfo:body}<span class="formValidation">{dopinfo:validation}</span></div>
                                                        <p class="formDescription">{dopinfo:description}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- SECOND ANKET PART -->
                                        </div>
                                    </div>
                                </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            ОПЫТ РАБОТЫ
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <!-- THIRD ANKET PART -->

                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1">
                                                <div class="for-group">
                                                    <div class="formBody">{employer:body}<span class="formValidation">{employer:validation}</span></div>
                                                    <p class="formDescription">{employer:description}</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1">
                                                <div class="for-group">
                                                    <div class="formBody">{jobtitle:body}<span class="formValidation">{jobtitle:validation}</span></div>
                                                    <p class="formDescription">{jobtitle:description}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1">
                                                <div class="for-group">
                                                    <div class="formBody">{period:body}<span class="formValidation">{period:validation}</span></div>
                                                    <p class="formDescription">{period:description}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1">
                                                <div class="for-group">
                                                    <div class="formBody">{worknow:body}<span class="formValidation">{worknow:validation}</span></div>
                                                    <p class="formDescription">{worknow:description}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1">
                                                <div class="for-group">
                                                    <div class="formBody">{workcountry:body}<span class="formValidation">{workcountry:validation}</span></div>
                                                    <p class="formDescription">{workcountry:description}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1">
                                                <div class="for-group">
                                                    <div class="formBody">{workcity:body}<span class="formValidation">{workcity:validation}</span></div>
                                                    <p class="formDescription">{workcity:description}</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="for-group">
                                                    <p class="formDescription fileLabel">Сопроводительное письмо, рекомендации...</p>
                                                    <div class="formBody">{letter:body}<span class="formValidation">{letter:validation}</span></div>

                                                </div>
                                            </div>
                                        </div>

                                   
                                        <!-- THIRD ANKET PART -->
                                    </div>
                                </div>
                            </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="for-group">
                                            <div id="info1" class="formBody">{myinforeal:body}<span class="formValidation">{myinforeal:validation}</span></div>
                                            <p class="formDescription">{myinforeal:description}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="for-group">
                                            <div id="info2" class="formBody">{objection:body}<span class="formValidation">{objection:validation}</span></div>
                                            <p class="formDescription">{objection:description}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-2">
                                        <div class="for-group">
                                            <div class="formBody">{send:body}<span class="formValidation">{send:validation}</span></div>
                                            <p class="formDescription">{send:description}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

