﻿<form name="orderForm" ng-submit="orderCtrl.makeOrder(0)">
    <div class="row orderFormUnit" ng-repeat="order in orderCtrl.ordersArray track by $index">
        <div class="panel panel-success orderPanel">
            <div class="panel-heading">Пасажир №&nbsp;{{$index + 1}}&nbsp;&nbsp;<strong>Місце:&nbsp;{{order.place}}</strong>
                <span class="errorLgot" ng-if="orderForm['lgotPassport' + $index].$error.required">Введіть номер документу для пільги!</span>
            </div>
            <div class="panel-body orderPanelBody">
                <div class="row orderPanel">
                    <div class="col-md-4 orderColumn">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" required ng-model="order.lastName" class="form-control" id="lastName" placeholder="Прізвище">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                            <!--<input type="text" ng-model="order.phone" ui-mask="+(38) 999-9999999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" id="phone" placeholder="Телефон">-->
                        <input type="text" ng-model="order.phone" id="phone" placeholder="Телефон" phone-input  code="UA" numbers ="7" class="form-control"/>
                        </div>
                    </div>

                    <div class="col-md-4 orderColumn">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" required ng-model="order.name" class="form-control" id="Name" placeholder="Ім'я">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="email" ng-model="order.email" class="form-control" id="email" placeholder="E-Mail адреса">
                        </div>
                    </div>

                    <div class="col-md-4 orderColumn">
                        <div class="form-group input-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                            <select name="package{{$index}}" id="package{{$index}}" class="form-control notChosen" ng-model="order.baggage"
                                    ng-init="order.baggage = 0" ng-options="value as value for value in orderCtrl.packageArray" ng-change="orderCtrl.changePrice(order.place,order.lgPrice,order.baggage, $index)">
                                <option value="" enabled selected>Багажні місця</option>
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">%</span>
                            <select name="lgots{{$index}}" id="lgots{{$index}}" class="form-control notChosen" ng-model="order.lgPrice" ng-init="order.lgPrice = {price:'', code:'' }"
                                    ng-options="{price:lgot.price, code: lgot.code} as lgot.name for lgot in orderCtrl.trip.lgotes" ng-change="orderCtrl.changePrice(order.place,order.lgPrice,order.baggage, $index)">
                                <option value="" enabled selected >Знижка/Пільга</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row orderPanel">
                    <div class="col-md-4">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            <input type="text" name="lgotPassport{{$index}} " required ng-if="order.lgPrice.price != '' && order.lgPrice != null" ng-model="order.passport" uppercase-input  class="form-control" id="passport" placeholder="Номер документа">
                            <input type="text" disabled name="lgotPassport{{$index}}" ng-if="order.lgPrice == null || order.lgPrice.price == ''" ng-model="order.passport"  uppercase-input class="form-control" id="passport" placeholder="Номер документа">

                        
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group price" align="right">
                            <div>
                                Ціна:&nbsp; <span>{{order.price}}</span> грн
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div ng-class="{'alert': message, 'alert-error': message.type === 'buy'}" ng-if="message && message.type === 'buy'" ng-bind="message.message"></div>
            <div ng-class="{'alert': message, 'alert-error': message.type === 'buy'}" ng-if="message && message.type === 'buyinit'" ng-bind="message.message"></div>
            <div ng-class="{'alert': message, 'alert-error': message.type === 'NO_CONNECTION'}" ng-if="message && message.type === 'NO_CONNECTION'" ng-bind="message.message"></div>
        </div>

    </div>
    <div class="row col-md-10 col-md-offset-1">
        <div class="col-md-6 fullPrice">
            Загальна сума замовлення:
            <span>{{orderCtrl.fullPrice}}</span> грн
        </div>


        <div class="col-md-6">
            <div class="row">
              <div class="col-md-3 col-md-offset-4">
                  <button type="submit" class="btn btn-success" ng-disabled="!orderForm.$valid"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Придбати</button>
              </div>
              <div class="col-md-3">
                  <button type="button" class="btn btn-warning" ng-click="orderCtrl.makeOrder(1)" ng-disabled="!orderForm.$valid"><span class="glyphicon glyphicon-time"></span>&nbsp;Бронювати</button>
              </div>
              <div class="col-md-1">
                  <img src="pictures/loadingTrips.gif" alt="Чекайте..." class="img-circle" ng-show="orderCtrl.loading">
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
           <br>
        </div>
    </div>


</form>

