﻿<div class="container-fluid tripInfo details">
	<div class="row">
		<div class="col-md-12 text-center text-success raceHeader">
                  <span>Рейс: </span><strong>{{orderCtrl.trip.raceNum}}&nbsp;{{orderCtrl.trip.raceName}}</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
                     <button class="goToTripsBtn" ng-click="orderCtrl.goToTrips()"><span class="glyphicon glyphicon-backward"></span>
                        Назад до маршрутів
                     </button>
		</div>
		<div class="col-md-4 text-center city tripInfo">
                  <div>{{orderCtrl.trip.stDepName}}&nbsp;<small class="text-muted">{{orderCtrl.trip.stDepAddr}}</small></div>
                  <div>
                     <i class="fa fa-clock-o"></i>&nbsp;{{orderCtrl.trip.viewDtDep.viewTime}}
                     <i class="fa fa-calendar"></i>&nbsp;{{orderCtrl.trip.viewDtDep.viewData}}
                  </div>
		</div>
		<div class="col-md-1 text-center raceArrow">
                   <span class="glyphicon glyphicon-arrow-right text-success raceArrow"></span>
		</div>
		<div class="col-md-4 text-center city tripInfo">
                  <div>{{orderCtrl.trip.stArrName}}&nbsp;<small class="text-muted">{{orderCtrl.trip.stArrAddr}}</small></div>
                  <div>
                     <i class="fa fa-clock-o"></i>&nbsp;{{orderCtrl.trip.viewDtArr.viewTime}}
                     <i class="fa fa-calendar"></i>&nbsp;{{orderCtrl.trip.viewDtArr.viewData}}
                  </div>
		</div>
                     <div class="col-md-1 text-center city">
                     </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
                   <div ng-if="orderCtrl.trip.noPlaceNum == 0" class="alert alert-warning alert-dismissable">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                       <strong>УВАГА!</strong>На даному рейсі діє вільна посадка, коли пасажири займають місця при посадці. Приведені номери місць не прив'язані до фактичних місць в автобусі!
                   </div>
		</div>
	</div>





<div class="container-fluid">
    <div class="row text-center text-success busBadge">
      <i class="fa fa-bus"></i>&nbsp;{{orderCtrl.trip.busName}} <span class="badge badge-primary">{{orderCtrl.trip.busCapacity}}</span>
    </div>
    <div class="row">
        <div class="col-md-12 places">
            <div class="busshema">
                <table class="busshema" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="busshema1"></td>
                            <td class="busshema2">
                                <div class="busshema2inner">
                                    <table class="busshema" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr ng-repeat="rowitem in orderCtrl.matrix track by $index">
                                                <td ng-repeat="colitem in rowitem track by $index">
                                                    <div class="">
                                                        <button id="{{colitem}}" type="button" ng-class="orderCtrl.freePlaces(colitem) ? 'busfreeplace' : 'busnofreeplace'" ng-click="orderCtrl.selectPlace(colitem)">{{colitem}}</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="col-md-4 ">
    <div ng-class="{'alert': message, 'alert-error': message.type === 'trip'}" ng-if="message && message.type  === 'trip'" ng-bind="message.message"></div>
</div>
<div order-form ng-if="orderCtrl.isOrder" class="container-fluid orderForm"></div>
