<div class="container-fluid">

  <div class="row">
    <form role="form" class="form-inline" >
      <div class="col-md-2">
	<div class="form-group ordersFormGroup">
		<div class="input-group">
			<input type="text" placeholder="Дата початку" is-open="reportCtrl.datepickers[0]" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="reportCtrl.dateOptions" class="form-control" id="inputDateBeg" ng-model="reportCtrl.bDate" current-text="Поточна" clear-text="Чистити" close-text="Закрити">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="reportCtrl.open(0)">
					&nbsp;<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
      </div>
      <div class="col-md-2">
	<div class="form-group ordersFormGroup">
		<div class="input-group">
			<input type="text" placeholder="Кінцева дата" is-open="reportCtrl.datepickers[1]" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="reportCtrl.dateOptions" class="form-control" id="inputDateEnd" ng-model="reportCtrl.eDate" current-text="Поточна" clear-text="Чистити" close-text="Закрити">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="reportCtrl.open(1)">
					&nbsp;<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
      </div>
      <div class="col-md-6">
	<div class="form-group ordersFormGroup">
          <label for="reportChoice">Звіт:</label>
          <select id="reportChoice" class="form-control ng-not-empty ng-touched" ng-model="reportCtrl.reportId">
               <option ng-if="reportCtrl.usermode!=='subagent'" value="1">Відомість продажу за перевізниками</option>
               <option value="2" selected="selected">Відомість продажу за субагентами</option>
           </select>
        </div>
      </div>
      <div class="col-md-2">
	<div class="input-group ordersFormGroup">
		<button type="button" class="btn btn-primary" ng-click="reportCtrl.reportClick()">
                        <span class="glyphicon glyphicon-refresh"></span>&nbsp;
			Отримати звіт
		</button>
		<img src="pictures/loading.gif" alt="Чекайте..." class="img-circle" ng-show="reportCtrl.loading">
	</div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-error" ng-show="message && (['reportXLS'].indexOf(message.type) > -1)"><button type="button" class="close" ng-click="reportCtrl.hideError();">&times;</button><strong>Помилка:</strong>{{message.message}}: {{message.param}}</div>
  </div>
</div>


</div>