<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelCtrl.cancel()">
		×
	</button>
	<h4 class="modal-title" id="myModalLabel">
		Скасування замовлення
	</h4>
</div>
<div class="modal-body">
	<p><strong>УВАГА!</strong>&nbsp; При скасуванні замовлення будуть анульовані всі квитки цього замовлення із 100% списанням всіх грошей! Скасування замовлення <strong>НЕ Є ПОВЕРНЕННЯМ КВИТКІВ</strong> </p>
        <p>Ви дійсно бажаєте скасувати замовлення?</p>
</div>
<div ng-repeat="item in cancelCtrl.cancelMessages track by $index">
  <div class="alert alert-dismissable alert-danger" ng-show="!item.status">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		×
	</button>
	<strong>Помилка {{item.code}} !</strong> {{item.name}} <br> {{item.param}}
  </div>
  <div class="alert alert-dismissable alert-success" ng-show="item.status">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		×
	</button>
	<strong>{{item.code}}</strong> {{item.name}} <br> Замовлення № {{item.param}} скасовано.
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="cancelCtrl.ok()">
	 	Скасувати замовлення
	</button>
        <img src="pictures/loadingTrips.gif" alt="Чекайте..." class="img-circle" ng-show="cancelCtrl.cancelInProgress">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelCtrl.cancel()">
		Закрити
	</button>
</div>
