<br>
<div class="row">
  <div class="col-md-12">
    <div ng-class="'panel panel-'+ordersCtrl.styleSelected" >
      <div class="panel-heading"><strong>{{ordersCtrl.entitySelected.statText}}</strong>&nbsp;&nbsp;{{ordersCtrl.entitySelected.errText}}</div>
      <table class="table table-condensed table-condensed table-responsive">
        <tbody>
          <tr>
            <td align="left" width="10%">
               <button ng-if="(ordersCtrl.entitySelected.status==='success')||(ordersCtrl.entitySelected.status==='hasret')" type="button" class="btn btn-xs btn-block btn-primary" ng-click="ordersCtrl.reBuy()"><span class="glyphicon glyphicon-print"></span>&nbsp;Копія квитків</button>
               <button ng-if="ordersCtrl.entitySelected.status==='ticket'" type="button" class="btn btn-xs btn-block btn-info" ng-click="ordersCtrl.openPayDlg()"><span class="glyphicon glyphicon-usd"></span>&nbsp;Оплатити</button>
               <button ng-if="ordersCtrl.entitySelected.status==='hung'" type="button" class="btn btn-xs btn-block btn-default"><span class="glyphicon glyphicon-trash"></span>&nbsp;Очистити</button>
            </td>
            <td align="left"><strong>&nbsp;Рейс №:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.raceNum}}</td>
            <td align="left"><strong>Заказ №:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.orderNum}}</td>
            <td align="left"><strong>Пасажир:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.passName}}</td>
          </tr>
          <tr>
            <td align="left" width="10%">
              <button ng-if="(ordersCtrl.entitySelected.status==='ticket')||(ordersCtrl.entitySelected.status==='success')" type="button" class="btn btn-xs btn-block btn-danger" ng-click="ordersCtrl.openCancelDlg()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Скасувати</button>
            </td>
            <td align="left"><strong>&nbsp;Найменування:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.raceName}}</td>
            <td align="left"><strong>Оформлення:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.payDate}}</td>
            <td align="left"><strong>Телефон:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.passPhone}}</td>
          </tr>
          <tr>
            <td align="left" width="10%">
               <a ng-if="(ordersCtrl.entitySelected.status==='success')||(ordersCtrl.entitySelected.status==='hasret')" type="button" class="btn btn-xs btn-block btn-default" href="{{ordersCtrl.loadPdf()}}"><span class="glyphicon glyphicon-save"></span>&nbsp;Завантажити</a>
            </td>
            <td align="left"><strong>&nbsp;Відправлення:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.depDate}}</td>
            <td align="left"><strong>Квитків:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.orders.length}}</td>
            <td align="left"><strong>E-Mail:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.passMail}}</td>
          </tr>
          <tr>
            <td align="left" width="10%">
               &nbsp;
            </td>
            <td align="left"><strong>&nbsp;Прибуття:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.arrDate}}</td>
            <td align="left"><strong>Сума:</strong></td>
            <td align="left">{{ordersCtrl.entitySelected.orderSum}}&nbsp;{{ordersCtrl.entitySelected.Curr}}</td>
            <td align="left"><span ng-show="(ordersCtrl.entitySelected.resTime!=='')&&(ordersCtrl.entitySelected.resTime!==undefined)"><strong>Резерв до:</strong></span></td>
            <td align="left">{{ordersCtrl.entitySelected.resTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
