<div class="container-fluid">

  <div class="row">
    <form role="form" class="form-inline" >
      <div class="col-md-4">
	<div class="form-group ordersFormGroup">
		<!-- <label for="inputDateBeg">З:</label> -->
		<div class="input-group">
			<input type="text" placeholder="Дата початку" ng-disabled="ordersCtrl.ticketNum" is-open="ordersCtrl.datepickers[0]" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="ordersCtrl.dateOptions" class="form-control" id="inputDateBeg" ng-model="ordersCtrl.bDate" current-text="Поточна" clear-text="Чистити" close-text="Закрити">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="ordersCtrl.open(0)">
					&nbsp;<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="form-group ordersFormGroup">
		<!-- <label for="inputDateEnd">по:</label> -->
		<div class="input-group">
			<input type="text" placeholder="Кінцева дата" ng-disabled="ordersCtrl.ticketNum" is-open="ordersCtrl.datepickers[1]" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="ordersCtrl.dateOptions" class="form-control" id="inputDateEnd" ng-model="ordersCtrl.eDate" current-text="Поточна" clear-text="Чистити" close-text="Закрити">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="ordersCtrl.open(1)">
					&nbsp;<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
      </div>
      <div class="col-md-2">
	<div class="form-group ordersFormGroup">
		<!-- <label for="inputTicketNum">№ квитка:</label> -->
		<div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
			<input type="text" class="form-control" id="inputTicketNum" ng-model="ordersCtrl.ticketNum" placeholder="Пошук за № квитка" ng-change="ordersCtrl.ticketNumChanged();">
		</div>
	</div>
      </div>
      <div class="col-md-2">
	<div class="input-group ordersFormGroup">
		<button type="button" class="btn btn-primary" ng-click="ordersCtrl.searchClick()">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;
			Пошук
		</button>
		<img src="pictures/loading.gif" alt="Чекайте..." class="img-circle" ng-show="ordersCtrl.loading">
	</div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-error" ng-show="message && (['orders','retinfo','return','buy','cancel'].indexOf(message.type) > -1)"><button type="button" class="close" ng-click="ordersCtrl.hideError();">&times;</button><strong>Помилка:</strong>{{message.message}}</div>
  </div>
</div>

<div class="row">
 <div class="col-md-12">
  <div>
    <div ui-grid="ordersCtrl.gridOptions" ui-grid-pinning ui-grid-selection ui-grid-expandable ui-grid-pagination ui-grid-resize-columns class="mainGrid"></div>
  </div>
 </div>
</div>

<div order-handle ng-if="ordersCtrl.gridSelected" class="container-fluid"></div>



</div>