<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="payCtrl.cancel()">
		×
	</button>
	<h4 class="modal-title" id="myModalLabel">
		Підтвердження оплати замовлення
	</h4>
</div>
<div class="modal-body">
  <p><strong>УВАГА!</strong>&nbsp; При підтвердженні оплати замовлення будуть підтверджені всі квитки цього замовлення та видані бланки квитків!</p>
  <strong>СУМА ДО СПЛАТИ: {{payCtrl.entity.orderSum}} {{payCtrl.entity.Curr}}</strong>
  <p>Ви дійсно бажаєте підтвердити оплату зарезервованого замовлення?</p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed table-bordered">
          <thead><tr><th>Місце</th><th>Пасажир</th><th>№ квитка</th><th>Вартість</th></tr></thead>
          <tbody>
            <tr ng-repeat="order in payCtrl.entity.orders track by $index">
              <td>{{order.place}}</td><td>{{order.passName}}</td><td>{{order.ticketNum}}</td><td>{{order.price}} {{payCtrl.entity.Curr}}</td>
            </tr>
          </tbody>
          <tfoot><tr><td>Всього:</td><td></td><td></td><td>{{payCtrl.entity.orderSum}} {{payCtrl.entity.Curr}}</td></tr></tfoot>
        </table>
      </div>
    </div>
  </div>

</div>

<div ng-repeat="item in payCtrl.payMessages track by $index">
  <div class="alert alert-dismissable alert-danger" ng-show="!item.status">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		×
	</button>
	<strong>Помилка {{item.code}} !</strong> {{item.name}} <br> {{item.param}}
  </div>
  <div class="alert alert-dismissable alert-success" ng-show="item.status">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		×
	</button>
	<strong>{{item.code}}</strong> {{item.name}} <br> Замовлення № {{item.param}} скасовано.
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="payCtrl.ok()">
	 	Підтвердити оплату
	</button>
        <img src="pictures/loadingTrips.gif" alt="Чекайте..." class="img-circle" ng-show="payCtrl.payInProgress">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="payCtrl.cancel()">
		Закрити
	</button>
</div>
