<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="returnCtrl.cancel()">
		×
	</button>
	<h4 class="modal-title" id="myModalRLabel">
		ПОВЕРНЕННЯ КВИТКА
	</h4>
</div>
<div class="modal-body">


   <div class="container-fluid">
      <div class="row">

	<p><strong>УВАГА!</strong>&nbsp; Повернення коштів за невикористану поїздку здійснюється тільки для обраного квитка. Якщо замовлення містить декілька квитків (місць) і їх також треба повернути, необхідно повторити повернення для кожного квитка окремо.
        <p>Якщо ви дійсно бажаєте повернути квиток, <strong>оберіть відсоток згідно правил повернення перевізника!<strong></p>
      </div>
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
             <div class="form-group input-group">
                <span class="input-group-addon">%</span>
                <select name="percent" id="percent" class="form-control notChosen" ng-model="returnCtrl.returnPercentSelected" ng-init="returnCtrl.returnPercentSelected = null"
                          ng-options="perc.percName for perc in returnCtrl.returnInfo.consist">
                </select>
             </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-md-offset-3" ng-if="returnCtrl.returnPercentSelected">
             <strong>Повернення:&nbsp;{{returnCtrl.returnPercentSelected.sumRet}}&nbsp;грн.&nbsp;&nbsp;&nbsp;Утримання:&nbsp;{{returnCtrl.returnPercentSelected.sumHold}}&nbsp;грн.</strong>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-disabled="!returnCtrl.returnPercentSelected" ng-click="returnCtrl.ok()">
	 	Повернути квиток
	</button>
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="returnCtrl.cancel()">
		Закрити
	</button>
</div>
