<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="commandCtrl.cancel()">
		×
	</button>
	<h4 class="modal-title" id="myModalLabel">
		{{commandCtrl.commandTxt}}
	</h4>
</div>
<div class="modal-body">
	<p><strong>УВАГА!</strong>&nbsp; {{commandCtrl.commandDesc}}</p>
        <p>Ви дійсно бажаєте здійснити обрану операцію?</p>

<div class="form-group row" ng-if="((commandCtrl.command==='cancel')&&(commandCtrl.entitySelected.isCanceled===0))">
 <div class="col-md-8 col-md-offset-2">
   <label for="reasonChoice">Оберіть причину зриву:&nbsp;</label>
   <select id="reasonChoice" class="form-control ng-not-empty ng-touched" ng-model="commandCtrl.reasonCode">
       <option value="11">Нет пассажиров</option>
       <option value="12">Погода</option>
       <option value="13">Отвлечение</option>
       <option value="14">Отменен</option>
       <option value="21" selected="selected">Не прибыл</option>
       <option value="22">Тех.неисправен</option>
       <option value="23">Отказ</option>
       <option value="24">Опоздание</option>
   </select>
 </div>
</div>

</div>
<div ng-repeat="item in commandCtrl.commandMessages track by $index">
  <div class="alert alert-dismissable alert-danger" ng-show="!item.status">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		×
	</button>
	<strong>Помилка {{item.code}} !</strong> {{item.name}} <br> {{item.param}}
  </div>
  <div class="alert alert-dismissable alert-success" ng-show="item.status">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		×
	</button>
	<strong>{{item.code}}</strong> {{item.name}} <br> Операція для рейса № {{item.param}} здійснена.
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="commandCtrl.ok()">
	 	Здійснити операцію
	</button>
        <img src="pictures/loadingTrips.gif" alt="Чекайте..." class="img-circle" ng-show="commandCtrl.commandInProgress">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="commandCtrl.cancel()">
		Закрити
	</button>
</div>
