<div class="container-fluid">

  <div class="row">
    <form role="form" class="form-inline" >
      <div class="col-md-4">
	<div class="form-group ordersFormGroup">
		<label for="inputDateBeg">Дата початку:</label>
		<div class="input-group">
			<input type="text" is-open="racesCtrl.datepickers[0]" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="racesCtrl.dateOptions" class="form-control" id="inputDateBeg" ng-model="racesCtrl.bDate" current-text="Поточна" clear-text="Чистити" close-text="Закрити">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="racesCtrl.open(0)">
					&nbsp;<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="form-group ordersFormGroup">
		<label for="inputDateEnd">Кінцева дата:</label>
		<div class="input-group">
			<input type="text" is-open="racesCtrl.datepickers[1]" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="racesCtrl.dateOptions" class="form-control" id="inputDateEnd" ng-model="racesCtrl.eDate" current-text="Поточна" clear-text="Чистити" close-text="Закрити">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="racesCtrl.open(1)">
					&nbsp;<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
	<div class="input-group ordersFormGroup">
		<button type="button" class="btn btn-primary" ng-click="racesCtrl.searchClick()">
                        <span class="glyphicon glyphicon-refresh"></span>&nbsp;
			Оновити дані
		</button>
		<img src="pictures/loading.gif" alt="Чекайте..." class="img-circle" ng-show="racesCtrl.loading">
	</div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-error" ng-show="message && (['races','race','vedomXLS'].indexOf(message.type) > -1)"><button type="button" class="close" ng-click="racesCtrl.hideError();">&times;</button><strong>Помилка:</strong>{{message.message}}: {{message.param}}</div>
  </div>
</div>

<div class="row">
 <div class="col-md-12">
  <div>
    <div ui-grid="racesCtrl.gridOptions" ui-grid-selection ui-grid-expandable ui-grid-pagination ui-grid-resize-columns class="mainRacesGrid"></div>
  </div>
 </div>
</div>

<div race-handle ng-if="racesCtrl.gridSelected" class="container-fluid"></div>

</div>