<br>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" >
      <div class="panel-heading"><strong>Рейс: {{racesCtrl.entitySelected.tripNum}} {{racesCtrl.entitySelected.stFormName}} - {{racesCtrl.entitySelected.stDestName}}</strong>&nbsp;{{racesCtrl.entitySelected.depDate}} {{racesCtrl.entitySelected.depTime}}</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
             <button ng-if="racesCtrl.canBlock()" type="button" class="btn btn-xs btn-block btn-warning" ng-click="racesCtrl.openCommandDlg('block')"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Блокувати</button>
             <button ng-if="!racesCtrl.canBlock()" type="button" class="btn btn-xs btn-block btn-success" ng-click="racesCtrl.openCommandDlg('block')"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Розблокувати</button>
          </div>
          <div class="col-md-3">
             <button ng-if="racesCtrl.canCancel()" type="button" class="btn btn-xs btn-block btn-danger" ng-click="racesCtrl.openCommandDlg('cancel')"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;Зрив рейсу</button>
             <button ng-if="!racesCtrl.canCancel()" type="button" class="btn btn-xs btn-block btn-success" ng-click="racesCtrl.openCommandDlg('cancel')"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Зняти зрив</button>
          </div>
          <div class="col-md-3">
             <button ng-if="racesCtrl.canCloseVed()" type="button" class="btn btn-xs btn-block btn-primary" ng-click="racesCtrl.openCommandDlg('vedom')"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Закрити відомість</button>
             <button ng-if="!racesCtrl.canCloseVed()" type="button" class="btn btn-xs btn-block btn-warning" ng-click="racesCtrl.openCommandDlg('vedom')"><span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;Відкрити відомість</button>
          </div>
          <div class="col-md-3">
             <!-- <a type="button" class="btn btn-xs btn-block btn-info" href="{{racesCtrl.getVedHref()}}"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;Завантажити відомість</a> -->
             <button type="button" class="btn btn-xs btn-block btn-info" ng-click="racesCtrl.getVed()"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;Завантажити відомість</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
