﻿<div class="container ticketContainer">
    <div class="row ticketPanel">
        <div class="col-md-2 col-md-offset-4 btn-panel">
            <button class="btn btn-danger" ng-click="refundCtrl.backFromRefund()">
                <span class="glyphicon glyphicon-remove"></span>
                Закрити
            </button>
        </div>
        <div class="col-md-2 btn-panel">
            <button class="btn btn-primary" ng-click="refundCtrl.print()">
                <span class="glyphicon glyphicon-print"></span>
                Надрукувати
            </button>
        </div>
    </div>

    <div class="row btticket">
        <table width="100%" ng-style="refundCtrl.returnCopyStyle">
            <tr>
                <td colspan="5" width="20%" class="vtop">
                    <img src="pictures/zubustik.png">
                </td>

                <td colspan="8" width="32%" class="vtop">
                    <div class="return_info_head">
                         Бланк повернення коштів<br>
                         за невикористані послуги
                    <div>
                </td>

                <td width="4%">№</td>
                <td colspan="5" width="20%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.retNum">
                    </div>
                </td>
                <td width="4%"></td>
                <td rowspan="3" colspan="4" width="16%" class="vtop gright">
                    <img src="pictures/pr-code.png">
                </td>
                <td rowspan="11" width="2%">
            </tr>


            <tr>
                <td colspan="20">
                    <br>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="20%">
                    Прізвище пасажира<br>
                    <i>Passenger surname</i>
                </td>
                <td colspan="14" width="56%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.lastName">

                    </div>
                </td>
                <td width="4%"></td>
            </tr>


            <tr>
                <td colspan="5" width="20%">
                    Ім’я пасажира<br>
                    <i>Passenger name</i>
                </td>
                <td colspan="14" width="56%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.name">
                    </div>
                </td>
                <td width="4%"></td>
                <td colspan="4" width="16%">
                    Дата повернення<br>
                    <i>Date of refund</i>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="20%">
                    Маршрут<br>
                    <i>Route</i>
                </td>
                <td colspan="14" width="56%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.raceName">
                    </div>
                </td>
                <td width="4%"></td>
                <td colspan="4" width="16%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.dateSold +' / '+ refundCtrl.refund.timeSold">
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="16%">
                    Місце<br>
                    <i>Seat</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.place">
                    </div>
                </td>
                <td colspan="2" width="8%"></td>
                <td colspan="4" width="16%">
                    Перевізник<br>
                    <i>Carrier</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.carrierName">
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="16%">
                    Відправлення<br>
                    <i>Departure</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.stDepName">
                    </div>
                </td>
                <td colspan="2" width="8%"></td>
                <td colspan="4" width="16%">
                    Прибуття<br>
                    <i>Arrival</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.stArrName">
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="5" width="16%">
                    Дата / Час<br>
                    <i>Date / Time</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.dateDep +' / '+ refundCtrl.refund.timeDep">
                    </div>
                </td>
                <td colspan="2" width="8%"></td>
                <td colspan="4" width="16%">
                    Дата / Час<br>
                    <i>Date / Time</i>
                </td>
                <td colspan="6" width="28%">
                    <div class="ticket_input" ng-bind="refundCtrl.refund.dateArr +' / '+ refundCtrl.refund.timeArr">
                    </div>
                </td>
            </tr>


            <tr>
                <td width="16%" colspan=4>
                    Первинна вартість (грн.)<br>
                    <i>Initial fare (UAH)</i>
                </td>
                <td width="4%">
                    &nbsp;
                </td>
                <td width="16%" colspan=4>
                    Утримано<br>
                    <i>Deduct</i>
                </td>
                <td width="4%">
                    &nbsp;
                </td>
                <td width="16%" colspan=4>
                    Процент повернення<br>
                    <i>Repayment percent</i>
                </td>
                <td width="12%" colspan=3>
                    &nbsp;
                </td>
                <td width="28%" colspan=7>
                    Повернуто<br>
                    <i>Repayment</i>
                </td>

            </tr>

            <tr>
                <td width="16%" colspan=4>
                    <div class="ticket_input" ng-bind="refundCtrl.refund.price">
                    </div>
                </td>
                <td width="4%">
                    &nbsp;
                </td>
                <td width="16%" colspan=4>
                    <div class="ticket_input" ng-bind="refundCtrl.refund.sumHold">
                    </div>
                </td>
                <td width="4%">
                    &nbsp;
                </td>
                <td width="16%" colspan=4>
                    <div class="ticket_input" ng-bind="refundCtrl.refund.percName">
                    </div>
                </td>
                <td width="12%" colspan=3>
                    &nbsp;
                </td>
                <td width="28%" colspan=7>
                    <div class="ticket_input" ng-bind="refundCtrl.refund.sumRet">
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="13" width="52%" class="vtop">
                </td>
                <td colspan="12" width="48%" class="vtop">
                    <div class="ticket_info_right">
                        З повагою ZuBUStik
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="26" width="100%" class="vtop ticket_bottom_line">&nbsp;</td>
            </tr>

            <tr class="ticket_bottom">
                <td colspan="6" width="22%" class="vtop">
                    <strong>Служба підтримки</strong><br>
                    <i>Support service</i>
                </td>
                <td colspan="5" width="20%" class="vtop">
                    <i>+38-099-440-66-22</i><br>
                    <i>+38-097-440-66-22</i>
                </td>
                <td colspan="5" width="20%" class="vtop">
                    <i>+38-093-440-66-22</i><br>
                    <i>+38-044-222-82-00</i>
                </td>
                <td colspan="5" width="20%" class="vtop">
                    <strong>Адреса сайту</strong><br>
                    <i>Website</i>
                </td>
                <td colspan="5" width="18%" class="vbottom gright">
                    <a href="http://zubustik.com.ua" target="_blank"><i>zubustik.com.ua</i></a>
                </td>

            </tr>


        </table>
      </div>
      <!-- <p class="pageBreak"></p> -->
 </div>
