<div class="container-fluid">

  <div class="row">
    <form role="form" class="form-inline" >
      <div class="col-md-4">
	<div class="form-group ordersFormGroup">
		<label for="inputDateBeg">Дата початку:</label>
		<div class="input-group">
			<input type="text"  ng-disabled="salesCtrl.ticketNum" is-open="salesCtrl.datepickers[0]" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="salesCtrl.dateOptions" class="form-control" id="inputDateBeg" ng-model="salesCtrl.bDate" current-text="Поточна" clear-text="Чистити" close-text="Закрити">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="salesCtrl.open(0)">
					&nbsp;<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="form-group ordersFormGroup">
		<label for="inputDateEnd">Кінцева дата:</label>
		<div class="input-group">
			<input type="text"  ng-disabled="salesCtrl.ticketNum" is-open="salesCtrl.datepickers[1]" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="salesCtrl.dateOptions" class="form-control" id="inputDateEnd" ng-model="salesCtrl.eDate" current-text="Поточна" clear-text="Чистити" close-text="Закрити">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="salesCtrl.open(1)">
					&nbsp;<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
      </div>
      <div class="col-md-2">
	<div class="form-group ordersFormGroup">
		<!-- <label for="inputTicketNum">№ квитка:</label> -->
		<div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
			<input type="text" class="form-control" id="inputTicketNum" ng-model="salesCtrl.ticketNum" placeholder="Пошук за № квитка" ng-change="salesCtrl.ticketNumChanged();">
		</div>
	</div>
      </div>
      <div class="col-md-2">
	<div class="input-group ordersFormGroup">
		<button type="button" class="btn btn-primary" ng-click="salesCtrl.searchClick()">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;
			Пошук
		</button>
		<img src="pictures/loading.gif" alt="Чекайте..." class="img-circle" ng-show="salesCtrl.loading">
	</div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-error" ng-show="message && (['sales'].indexOf(message.type) > -1)"><button type="button" class="close" ng-click="salesCtrl.hideError();">&times;</button><strong>Помилка:</strong>{{message.message}}</div>
  </div>
</div>

<div class="row">
 <div class="col-md-12">
  <div>
    <div ui-grid="salesCtrl.gridOptions" ui-grid-selection ui-grid-expandable ui-grid-pagination ui-grid-resize-columns class="mainGrid"></div>
  </div>
 </div>
</div>

<div sale-handle ng-if="salesCtrl.gridSelected" class="container-fluid"></div>



</div>