<br>
<div class="row">
  <div class="col-md-12">
    <div ng-class="'panel panel-'+salesCtrl.styleSelected" >
      <div class="panel-heading"><strong>{{salesCtrl.entitySelected.statText}}</strong>&nbsp;&nbsp;{{salesCtrl.entitySelected.errText}}</div>
      <table class="table table-condensed table-condensed table-responsive">
        <tbody>
          <tr>
            <td align="left"><strong>&nbsp;Рейс №:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.raceNum}}</td>
            <td align="left"><strong>Заказ №:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.orderNum}}</td>
            <td align="left"><strong>Пасажир:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.passName}}</td>
          </tr>
          <tr>
            <td align="left"><strong>&nbsp;Найменування:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.raceName}}</td>
            <td align="left"><strong>Оформлення:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.payDate}}</td>
            <td align="left"><strong>Телефон:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.passPhone}}</td>
          </tr>
          <tr>
            <td align="left"><strong>&nbsp;Відправлення:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.depDate}}</td>
            <td align="left"><strong>Квитків:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.sales.length}}</td>
            <td align="left"><strong>E-Mail:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.passMail}}</td>
          </tr>
          <tr>
            <td align="left"><strong>&nbsp;Прибуття:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.arrDate}}</td>
            <td align="left"><strong>Сума:</strong></td>
            <td align="left">{{salesCtrl.entitySelected.orderSum}}&nbsp;{{salesCtrl.entitySelected.Curr}}</td>
            <td align="left"><span ng-show="(salesCtrl.entitySelected.resTime!=='')&&(salesCtrl.entitySelected.resTime!==undefined)"><strong>Резерв до:</strong></span></td>
            <td align="left">{{salesCtrl.entitySelected.resTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
